
<div ng-app="searchApp" ng-controller="searchCtrl">


  <div class="container">
    <h2>Food Now</h2>
    <form>
      <div class="form-group">
        <label for="categorySelect">Select A Category:</label>
        <select class="form-control" id="categorySelect">
          <option value=false></option>
          <option ng-repeat="category in categories" value={{ category.categories.id }}>{{ category.categories.name }}</option>
        </select>
        <br>
        <label for="cuisinesSelect">Select Cuisines:</label>
        <select multiple class="form-control" id="cuisinesSelect" title="use Ctrl to select more than one">
          <option value=false></option>
          <option ng-repeat="cuisine in cuisines" value={{ cuisine.cuisine.id }}>{{ cuisine.cuisine.name }}</option>
        </select>
      </div>
    </form>
  </div>


</div>
<script>
  var app = angular.module('searchApp', []);
  app.controller('searchCtrl', function($scope, $http)
  {


    $scope.getCategories = function () {
      $http.get("/restaurant/categories").then(function mySucces(response) {
        $scope.categories = response.data.categories;
        console.log(response.data.categories)
      }, function myError(response) {
        $scope.categoriesError = response.statusText;
      });
    };


    $scope.getCuisines = function () {
      $http.get("/restaurant/cuisines/lat=40.732013/lon=-73.996155").then(function mySucces(response) {
        $scope.cuisines = response.data.cuisines;
        console.log(response.data.cuisines)
      }, function myError(response) {
        $scope.cuisinesError = response.statusText;
      });
    };

    $scope.getCategories()
    $scope.getCuisines()


  });
</script>
