<div class="container" style="margin-top:75px">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>TEST</h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-xs-5">
              <p><strong>Number of results found:</strong></p>
            </div>
            <div class="col-xs-7">
              <p><%= list.results_found %></p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-xs-5">
              <p><strong>Error:</strong></p>
            </div>
            <div class="col-xs-7">
              <p><%= error %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
